@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}
img {
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 1.4em;
  line-height: 1.2em;
  padding-bottom: 15px;
}
h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1em;
}
p {
  font-size: 1em;
}

.icon_container {
  text-align: center;
  height: 48px;
  width: 48px;
}

.blue {
  color: $blue;
}

.grey {
  color: $grey;
}

.fa-star {
  font-size: 0.7em;
}

.detail {
  font-size: 0.85em;
  line-height: 2em;
}
